#node_modules
html
css
javascript
node_modules
turkish_dictionary.txt
turkish_misspellings.txt
turkish_morphological_lexicon.txt
turkish_finite_state_machine.xml
hepsiburada distinct.txt
root_ngram.txt
penntreebank.txt
src