<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./common/headScope") %>
    <title>Index</title>
</head>
<body>
    <h1>Home</h1>
    <div class="w3-row-padding">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="search">
                    <a class="btn btn-primary" href="/users/login">Login</a>
                    <a class="btn btn-primary" href="/users/register">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>