<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/images/yildiz.jpg" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- myCss.style %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <ul>
        <% if (typeof errors != 'undefined') { %>
            <% errors.forEach(error => { %>
            <li><%= error.message %></li>
            <% }) %> 
        <% } %>
    </ul>

    <ul>
        <% if(messages.success_msg) { %>
            <li><%= messages.success_msg %></li>
        <% } %>
    </ul>

    <ul>
        <% if (messages.error) { %>
            <li><%= messages.error %></li>
        <% } %>
    </ul>

    <div class="w3-row-padding w3-grayscale">
        <form action="/users/login" method="post">
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="search">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <button type="submit" class="btn btn-primary" value="Login">Login</button>
                        <a href="/users/register">If you don't have account! Register</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>