<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./common/headScope") %>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <ul>
        <% if (typeof errors != 'undefined') { %>
            <% errors.forEach(error => { %>
            <li><%= error.message %></li>
            <% }) %> 
        <% } %>
    </ul>

    <ul>
        <% if(messages.success_msg) { %>
            <li><%= messages.success_msg %></li>
        <% } %>
    </ul>

    <ul>
        <% if (messages.error) { %>
            <li><%= messages.error %></li>
        <% } %>
    </ul>

    <div class="w3-row-padding w3-grayscale">
        <form action="/users/login" method="post">
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="search">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <button type="submit" class="btn btn-primary" value="Login">Login</button>
                        <a href="/users/register">If you don't have account! Register</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>